.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--nav-bg);
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.themeToggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: white;
    transition: color 0.3s ease;
}

.themeToggle:hover {
    color: #ff8000;
}

/* .themeToggle:hover {
    background: var(--button-hover);
    transform: scale(1.1);
} */

/* @media (max-width: 630px) {
    .themeToggle {
        padding: 5px 5px;
    }
} */
