.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--nav-bg);
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.themeToggle {
    border: none;
    border-radius: 50px;
    border-color: aliceblue;
    background-color: var(--button-bg);
    cursor: pointer;
    padding: 5px 15px;
    margin: 0 auto;
}

.themeToggle:hover {
    background: var(--button-hover);
}

@media (max-width: 630px) {
    .themeToggle {
        padding: 5px 5px;
    }
}
