.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
}

h1,
h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 650px) {
    h1, h2 {
        font-size: 20px;
    }
}

.loader,
.error {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.loader {
    color: #3498db;
}

.error {
    color: #e74c3c;
}

.counter {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color, #333);
    margin-bottom: 10px;
}