.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
}

h1,
h2 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

.loader,
.error {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.loader {
    color: #3498db;
}

.error {
    color: #e74c3c;
}