.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--cont-bg);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    left: 15px;
    font-size: 18px;
    color: var(--text-color);
}

.input {
    width: 100%;
    padding: 12px 45px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: white;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: var(--text-color);
    outline: none;
}

.togglePassword {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
}

.togglePassword:hover {
    color: var(--button-hover);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid var(--button-hover);
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--button-hover);
    background: none;
    transition: all 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background: var(--text-color);
    color: white;
}

.error {
    color: #c40a0a;
    font-size: 12px;
    margin-top: 5px;
}

.link {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.link a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}