.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 30px auto;
    background: var(--cont-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    padding: 8px 35px 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-width: 250px;
}

.input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(74, 76, 77, 0.5);
    outline: none;
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.togglePassword {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    margin-top: 6px;
}

.togglePassword:hover {
    color: #808984;
}

.error {
    color: #ff1b02;
    font-size: 12px;
    margin-top: -5px;
}

.button {
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.98);
}

.link {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.link a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .form {
        width: 90%;
        padding: 15px;
    }

    .input {
        min-width: 100px;
    }
    
    .label {
        font-size: 12px;
    }

    .button {
        font-size: 14px;
    }
}