.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #161b30;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 102, 255, 0.4);
    max-width: 400px;
    margin: auto;
}

.label {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* Обёртка для инпутов */
/* .inputWrapper {
    display: flex;
    align-items: center;
    background: #202640;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border 0.3s ease;
} */

.inputWrapper:focus-within {
    border-color: orange;
}

/* Иконки */
.icon {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    margin-right: 10px;
}

/* Поле ввода */


/* Ошибка */
.error {
    color: red;
    font-size: 14px;
}

/* Кнопка показать/скрыть пароль */
.togglePassword {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

/* Кнопка входа */
.button {
    background: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.button:hover {
    background: #0056b3;
}

/* Ссылка */
.link {
    text-align: center;
    color: white;
}

.link a {
    color: orange;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}