.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.active {
    color: white !important;
    font-weight: bold;
}

@media (max-width: 900px) {
    .nav {
        gap: 1px;
    }
}

@media (max-width: 768px) {
    .nav a {
        margin: 2px;
        font-size: 15px;
        padding: 4px;
    }
}

@media (max-width: 450px) {
    .nav a {
        font-size: 13px;
    }

    .nav {
        gap: 1px;
    }
}