.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;
    padding: 15px;
    border: 1.5px solid rgb(199, 196, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}

.name,
.number {
    font-size: 1rem;
    margin: 4px 0;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.deleteBtn {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    color: rgb(240, 62, 62);
    background-color: #f4f4f9;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.deleteBtn:hover {
    background-color: #e286861e;
    box-shadow: 0 2px 4px rgba(68, 67, 67, 0.2);
}
