.item {
    background: #13172a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 102, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
}

.icon {
    font-size: 20px;
    color: white;
}

.name,
.number {
    font-weight: bold;
}

/* Кнопки */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.editBtn,
.deleteBtn {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editBtn:hover {
    color: orange;
    border-color: orange;
}

.deleteBtn:hover {
    background: red;
    color: white;
    border-color: red;
}

/* Кнопки "Save" и "Cancel" */
.saveBtn,
.cancelBtn {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.saveBtn:hover {
    background: green;
    color: white;
    border-color: green;
}

.cancelBtn:hover {
    background: gray;
    color: white;
    border-color: gray;
}