.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #161b30;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 102, 255, 0.4);
}

.label {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* Поле ввода */
.input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: #202640;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.input:focus {
    border-color: orange;
}

/* Ошибка */
.error {
    color: red;
    font-size: 14px;
}

/* Кнопка */
.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.submitBtn:hover {
    background: #0056b3;
}

/* Иконка */
.icon {
    font-size: 18px;
}