.authButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: none;
    transition: all 0.3s ease;
    text-decoration: none;
}

@media (max-width: 450px) {
    .authButton {
        font-size: 13px;
        padding: 10px 13px;
    }
}

.authButton:hover {  
    border-color: var(--button-hover);
    color: var(--button-hover);
}

.activeButton {
    border-color: var(--button-hover);
    color: var(--button-hover);
}

.container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}