h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  cursor: default;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f9f9f9;
  --text-color: #333;
  --nav-bg: #ffffff;
  --button-bg: #e0e0e0;
  --button-text: #000;
}

body.dark {
  --background-color: #222;
  --text-color: #fc0000;
  --nav-bg: #333;
  --button-bg: #444;
  --button-text: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}