h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  cursor: default;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f3e9dc;
  --text-color: #c08552;
  --nav-bg: #e0c4a0;
  --button-bg: #b6885d;
  --button-hover: #73411f;
  --cont-bg: #ffffff;
  --theme: #f9e4ce;
}

body.dark {
  --background-color: #4a3f3e;
  --text-color: #a69d9b;
  --nav-bg: #392b1c;
  --button-bg: #303804;
  --button-hover: #022a16;
  --cont-bg: #a69d9b;
  --theme: #62513e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}