.userMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    margin-left: 15px;
    text-align: end;
    max-width: 300px;
}

@media (max-width: 768px) {
    .userMenu {
        padding: 20px;
    }
}

@media (max-width: 550px) {
    .userMenu {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 0px;
    }
}

.userMenu span {
   color: var(--text-color);
}

.welcomeText {
    font-size: 18px;
    font-weight: bold;
}

.logoutButton {
    background: none;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.logoutButton:hover {
   border-color: var(--button-hover);
}

.logoutButton .icon {
    font-size: 20px;
    color: white;
}

.logoutButton .icon:hover {
    color: var(--text-color);
}